<nav class="menuItems">
    
        <a class="menuItem" routerLink="/clientes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Clientes</a>
    
    
        <a class="menuItem" routerLink="/cuentas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cuentas</a>
    
    
        <a class="menuItem" routerLink="/movimientos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Movimientos</a>
    
    
        <a class="menuItem" routerLink="/reportes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Reportes</a>
    
</nav>