version: '3.8'

services:
  db:
    image: mysql:8.1
    container_name: mysql_dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: devsu_db
      MYSQL_USER: devsu_user
      MYSQL_PASSWORD: devsu_pass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app
    ports:
      - "8080:8080" # Backend se queda en el 8080
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://db:3306/devsu_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
      SPRING_DATASOURCE_USERNAME: "devsu_user"
      SPRING_DATASOURCE_PASSWORD: "devsu_pass"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "8082:80" # Frontend movido al puerto 8082
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data: